<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
</head>
<body>

<div th:if="${exists}">User already exists in DB!</div>
<p>Please, register below:</p>

<form action="#" th:action="@{/register}" th:object="${user}" method="post">

    <div>
        <div><label>Choose your user name <input type="text" name="username" th:field="*{username}"/></label></div>
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </div>
    <div>
        <div><label>Choose your user password <input type="password" name="password" th:field="*{password}"/></label></div>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>
    <div><button type="submit">Submit</button> </div>
    <div><button type="reset">Reset</button> </div>
</form>
</body>
</html>